body {
    position : relative;
    padding-top : 40px;
}

section#page {
    margin-top : 20px;
    height : auto;
}

div.column {
    border-right : 1px solid black;
    padding : 0px 10px;
    height : 90%;
}
div.column:last-child {
    border : 0;
}

div.column .header {
    height : 60px;
}

div.column input {
    width : 90%;
}

div.tasks div.task:hover {
    background-color : #F5F5F5;
}

div.task {
    padding : 5px 0px;
}

div.task span {
    min-height : 10px;
}

.row-fluid [class*="span"] {
    min-height : 10px;
}
