body {
    position : relative;
    padding-top : 40px;
    background-color : #FAFAFA;
}

section#page {
    margin-top : 20px;
    height : auto;
    text-align: center;
}

section#page section.column textarea {
    width: 100%;
}

section#page section.column p {
    text-align: left;
}

section#page .moreBtn {
    margin-bottom: 20px;
}

div.whatIsThisBox {
    text-align: center;
}

div.logInBox, div.createUserBox {
    text-align: center;
}

div.logInBox input, div.createUserBox input {
    margin-left: auto;
    margin-right: auto;
}

div.tasksColumns {
    margin: 0px auto;
    margin-bottom: 20px;
}

div.tasksColumns:after {
    clear: both;
}

div.tasksColumns:before, div.tasksColumns:after {
    content: "";
    display: table;
    line-height: 0;
}

div.column {
    width: 250px;
    border-right : 1px dotted #999999;
    height : 100%;
    padding-right : 2.12766%;
    margin-left: 2.12766%;
    margin-bottom: 20px;
    float: left;
    height: 100%;
}

div.column:first-child {
    margin-left: 0px;
}

div.column:last-child {
    border : 0;
}

div.column input {
    width : 100%;
}

div.tasks div.task:hover {
    border: solid 2px #C8CDEE;
}

div.task {
    padding : 5px;
    margin : 2px;
    border-radius: 2px;
    width: auto;
    background-color: #E8EDEE;
    border: solid 2px #E8EDEE;
}

div.task span {
    min-height : 10px;
}

div.task a {
    color : #344579;
}

div.task a:hover {
    text-decoration : none;
    color : #344579;
}

.row-fluid [class*="span"] {
    min-height : 10px;
}

/* help modal */
/* TODO */
#help {
    color: #F89406;
    background: none repeat scroll 0 0 rgba(34, 34, 34, 0.8);
}

#help .modal-header {
    border-bottom: 1px solid #303030;
}

