            <section class="column">
                <button type="button" class="jColumnClose close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <form action="/api/task/" class="jForm jFormSearch">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control jSearchQuery" placeholder="Search" value="{query}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                    <input type="hidden" name="limit" value="20">
                    <input type="hidden" name="dashboardId" value="{dashboardId}" class="jInputDashboardId">
                </form>
                <div class="tags"></div>
                <div>
                    <textarea rows="4" name="task" placeholder="What is your task ?" style="display:none"></textarea>
                </div>
                <p> Found : <span class="totalTask"></span> </p>
                <div class="tasks"> </div>
                <div class="moreBtn" style="display:none;">
                    <button class="btn btn-lg btn-block" type="button">More</button>
                </div>
            </section>

