    <div class="form-group row">
        {?id}
        <input type="hidden" name="id" value="{id}" />
        {/id}
        {?dashboardId}
        <input type="hidden" name="dashboardId" value="{dashboardId}" />
        {/dashboardId}
        <textarea class="col-md-12" rows="4" name="task" placeholder="What is your task ?">{?task}{task}{/task}</textarea>
    </div>
    <div class="row">
        <input type="text" name="tag" placeholder="tags" {?tags}value="{tags}"{/tags}/>
        <span class="help-block">You can add several tags, by separating them by comma</span>
    </div>
    <div class="row">
        <span class="jDashboard jSelect"></span>
    </div>
