    <div class="control-group row-fluid">
        {?_id}
        <input type="hidden" name="_id" value="{_id}" />
        {/_id}
        <textarea rows="2" name="task" placeholder="What is your task ?">{?task}{task}{/task}</textarea>
    </div>
    <div class="control-group row-fluid">
        <input type="text" name="state" placeholder="state" {?state}value="{state}"{/state} />
    </div>
    <!--
    <div class="row-fluid">
        <input type="text" name="project" placeholder="On project"/>
    </div>
    <div class="row-fluid">
        <input type="text" name="feature" placeholder="On feature"/>
    </div>
    -->
