<!DOCTYPE html>
<html>
    <head>
        <title>Tasks Manager</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script type="application/javascript" src="/js/zepto.min.js"></script>
        <script type="application/javascript" src="/js/dust-full-0.3.0.min.js"></script>
        <script type="application/javascript" src="/js/tasks.js"></script>
    </head>
    <body>
        <header>
            <a href="/" class="logo">Tasks Manager</a>
            <ul>
                <li><a href="javascript:void(0);" class="jLink" data-func="backlog">Backlog</a></li>
                <li><a href="javascript:void(0);" class="jLink" data-func="addtask">Create task</a></li>
                <li><a href="javascript:void(0);" class="jLink" data-func="abouts">abouts</a></li>
            </ul>
        </header>
        <section id="page">

            <footer>
            </footer>
        </section>
        <footer>
        </footer>
    </body>
</html>
