                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" placeholder="Email or pseudo" name="login" />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="password" placeholder="Password" name="password" />
                                </div>
                            </div>
