<div class="task text-center" data-id="{id}" id="task-{id}">
    {^nobuttons}
    <i class="jTaskRemove close glyphicon glyphicon-trash"></i>
    <i class="jTaskModify close glyphicon glyphicon-pencil"></i>
    {/nobuttons}
    <div>
    {task}
    </div>
    {#tags}<span class="label label-default">{.}</span>&nbsp;{/tags}
    {?dashboard}<br/><span class="label label-default">{dashboard.name}</span>&nbsp;{/dashboard}
    {?createdAt}<br /><span class="createdAt">created at {createdAt}</span>{/createdAt}
</div>
